<div class="container">
    <div class="row">
        <div class="card col-5 col-sm-3 col-md-4 col-lg-2">
        <img src="../../../assets/news/fyodor-dostoevsky/Dostoevsky.jpg"
        class="card-img-top col-xs-2" alt="fyodor-dostoevsky"/>
        <div class="card-body">
            <h5 class="card-title">Precisou escrever para pagar dívidas de jogo</h5>
            <p class="card-text">Dostoiévski enfrentou dificuldades financeiras ao longo de sua vida, em grande parte devido ao que hoje poderia ser diagnosticado como um grande vício debilitante pelo jogo.</p>
            <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
        </div>        
    </div>
</div>




