<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item mt-4">
                    <h3>Buscar</h3>
                    <ul>
                        <li><a href="#">Livros</a></li>
                        <li><a href="#">Autores</a></li>
                        <li><a href="#">Editoras</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item mt-4">
                    <h3>Cadastrar</h3>
                    <ul>
                        <li><a href="#">Livros</a></li>
                        <li><a href="#">Autores</a></li>
                        <li><a href="#">Editoras</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text mt-4">
                    <h3>Projeto</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
            </div>
            <p class="copyright" ><a href="https://github.com/ceszkraft" id="github">ceszkraft@2022</a></p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>


